In [2]:
import pandas_datareader.data as web
import datetime

In [5]:
start = datetime.datetime(2016, 2, 19)
end = datetime.datetime(2016, 3, 4)

gs = web.DataReader("078930.KS", "yahoo", start, end)

In [6]:
gs

               High      Low     Open    Close    Volume  Adj Close
Date
2016-02-19  51100.0  49950.0  50300.0  50600.0  301800.0    50600.0
2016-02-22  50800.0  49850.0  50300.0  50400.0  153961.0    50400.0
2016-02-23  53000.0  50800.0  50800.0  52800.0  431934.0    52800.0
2016-02-24  53500.0  51900.0  52000.0  53500.0  259616.0    53500.0
2016-02-25  54700.0  52700.0  53900.0  53900.0  170839.0    53900.0
2016-02-26  54500.0  53200.0  54300.0  53300.0  159453.0    53300.0
2016-02-29  53900.0  52800.0  53000.0  53000.0  154692.0    53000.0
2016-03-02  55200.0  53500.0  53900.0  55100.0  229999.0    55100.0
2016-03-03  55800.0  54300.0  55300.0  55000.0  217063.0    55000.0
2016-03-04  54800.0  53200.0  54700.0  54200.0  237934.0    54200.0