In [8]:
from pandas import DataFrame
import pandas as pd

In [1]:
class KO_FAMILY(object):
     
    def __init__(self):
        import pandas as pd
        from pandas import DataFrame, Series
        
        print('고씨네 가족의 프로필입니다.')
        print('프로필 정보를 새로 입력하거나 입력된 정보를 불러올 수 있습니다.')
        
        print('\n프로필 입력은 new_record 함수를 이용하세요')
        print('이름, 나이, 성별, 직업, 전화번호를 기록할 수 있습니다.')
        
        try:
            self.info = pd.read_csv('KO_FAMILY_INFO.csv')
        except:
            self.info = DataFrame()
    
    
    
    '''
    새로운 프로필 정보를 입력하는 함수입니다.
    '''
    def new_record(self, name, age, sex, job, phone_number):
        
        temp_df = DataFrame({'이름' :[str(name)],
                             '나이' :[str(age)],
                             '성별' :[str(sex)],
                             '직업' :[str(job)],
                             '전화번호' : [str(phone_number)]})
        
        self.info = pd.concat([self.info, temp_df], axis = 0, copy = False)
    
    '''
    저장된 프로필의 정보를 찾는 내용입니다.
    '''
    def find_record(self, name):

        loc = self.info[self.info['이름'] == name]
        print(loc)
        
        
    
    '''
    저장된 정보를 삭제하는 함수입니다.
    '''
    def delete_record(self, name):

        loc = self.info[self.info['이름'] == name].index
        print(loc)
        self.info = self.info.drop(loc)
        
    
    
    '''
    지금까지 입력한 프로필 정보를 csv 파일로 저장하는 함수입니다.
    '''
    def save(self):
        
        self.info.to_csv('KO_FAMILY_INFO.csv', index = False)

In [26]:
a = KO_FAMILY()

고씨네 가족의 프로필입니다.
프로필 정보를 새로 입력하거나 입력된 정보를 불러올 수 있습니다.

프로필 입력은 new_record 함수를 이용하세요
이름, 나이, 성별, 직업, 전화번호를 기록할 수 있습니다.

In [27]:
a.info

Empty DataFrame
Columns: []
Index: []

In [22]:
a.new_record('고동형', 23, '남', '대학생', '010-0000-0000')

In [23]:
a.info

   나이 성별   이름           전화번호   직업
0  23  남  고동형  010-0000-0000  대학생

In [24]:
a.find_record('고동형')

   나이 성별   이름           전화번호   직업
0  23  남  고동형  010-0000-0000  대학생

In [9]:
a.delete_record('고동형')

Int64Index([0], dtype='int64')

In [10]:
a.info

Empty DataFrame
Columns: [이름, 나이, 성별, 직업, 전화번호]
Index: []

In [25]:
a.save()